/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: azure;
}
.cabecalho{
    text-align: center;
    background-color: #3c997d;
}
.titulo{
    color: antiquewhite;
    font-size: 32px;
    font-weight: bold;
}

.subtitulo{
    color: rgb(5, 255, 222);
}
.conteudo{
    background-color: rgb(117, 117, 228);
    color: red;
}
.conteudo h1{
    color: blueviolet;
}
.conteudo p{
    color: #E4005A ;
    font-size: 32px;
}